<html>
<head>
<title>videolist.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
videolist.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">LinearLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>&gt;


    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/asser&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;


        &lt;<span class="s4">com.google.android.youtube.player.YouTubeThumbnailView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/video_thumbnail_image_view&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;120dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;120dp&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;@android:color/darker_gray&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s3">=&quot;ffg&quot;</span>
            <span class="s1">android:scaleType</span><span class="s3">=&quot;centerCrop&quot; </span>/&gt;

        &lt;<span class="s4">LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>&gt;

            &lt;<span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/video_title&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;Video Title&quot;</span>
                <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span>/&gt;


            &lt;<span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_videoId&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot; </span>/&gt;


            &lt;<span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/video_descriptio&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;Video Description&quot; </span>/&gt;

            &lt;<span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_url&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:visibility</span><span class="s3">=&quot;invisible&quot; </span>/&gt;

            &lt;<span class="s4">Button</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_urll&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>

                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot; </span>/&gt;

        &lt;/<span class="s4">LinearLayout</span>&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;
&lt;/<span class="s4">LinearLayout</span>&gt;</pre>
</body>
</html>